<?xml version="1.0" encoding="UTF-8" standalone="no"?><templates><template autoinsert="true" context="xml_all" deleted="false" description="" enabled="true" name="crud-mapper">&lt;!DOCTYPE mapper&#13;
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"&#13;
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"&gt;&#13;
&#13;
&lt;mapper namespace=""&gt;&#13;
	&lt;select id="count" resultType="int"&gt;&#13;
		&lt;![CDATA[select count(*) from ${TableName}]]&gt;&#13;
	&lt;/select&gt;&#13;
	&lt;select id="getList" resultType="${ModelType}"&gt;&#13;
		&lt;![CDATA[select * from ${TableName}]]&gt;&#13;
	&lt;/select&gt;&#13;
	&lt;select id="findById" parameterType="${KetType}" resultType="${ModelType}"&gt;&#13;
		&lt;![CDATA[select * from ${TableName} where ]]&gt;&#13;
	&lt;/select&gt;&#13;
	&lt;insert id="insert" parameterType="${ModelType}"&gt;&#13;
		&lt;![CDATA[&#13;
		insert into ${TableName}(&#13;
		&#13;
		)&#13;
		values(&#13;
&#13;
		)&#13;
		 ]]&gt;&#13;
	&lt;/insert&gt;&#13;
	&lt;update id="update" parameterType="${ModelType}"&gt;&#13;
		&lt;![CDATA[update ${TableName} set&#13;
		&#13;
		&#13;
		where ]]&gt;&#13;
	&lt;/update&gt;&#13;
	&lt;delete id="delete" parameterType="${KeyType}"&gt;&lt;![CDATA[&#13;
		delete from ${TableName}&#13;
		where &#13;
		]]&gt;&#13;
	&lt;/delete&gt;&#13;
&lt;/mapper&gt;&#13;
&#13;
</template></templates>