<?xml version="1.0" encoding="UTF-8" standalone="no"?><templates><template autoinsert="true" context="xml_new" deleted="false" description="" enabled="true" name="mybatis-config">&lt;?xml version="1.0" encoding="UTF-8" ?&gt;&#13;
&lt;!DOCTYPE configuration&#13;
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"&#13;
  "http://mybatis.org/dtd/mybatis-3-config.dtd"&gt;&#13;
&lt;configuration&gt;&#13;
&#13;
	&lt;properties resource="config/database.properties" /&gt;&#13;
&#13;
	&lt;settings&gt;&#13;
		&lt;setting name="cacheEnabled" value="false" /&gt;&#13;
		&lt;setting name="mapUnderscoreToCamelCase" value="true" /&gt;&#13;
		&lt;setting name="useGeneratedKeys" value="false" /&gt;&#13;
	&lt;/settings&gt;&#13;
&#13;
	&lt;typeAliases&gt;&lt;/typeAliases&gt;&#13;
	&#13;
	&lt;environments default="development"&gt;&#13;
		&lt;environment id="development"&gt;&#13;
			&lt;transactionManager type="JDBC" /&gt;&#13;
			&lt;dataSource type="POOLED"&gt;&#13;
				&lt;property name="driver" 	value="$${driver}" /&gt;&#13;
				&lt;property name="url" 		value="$${url}" /&gt;&#13;
				&lt;property name="username" value="$${username}" /&gt;&#13;
				&lt;property name="password" value="$${password}" /&gt;&#13;
			&lt;/dataSource&gt;&#13;
		&lt;/environment&gt;&#13;
	&lt;/environments&gt;&#13;
	&#13;
	&lt;mappers&gt;&lt;/mappers&gt;&#13;
&lt;/configuration&gt;&#13;
	</template></templates>